@{
    ViewData["Title"] = "About us Page";
}

<div class="text-center">
    <h1>E-Mobile Shop Pvt. Ltd.</h1>
    <hr/>
    <p>Shop as a Service</p>
    <p>Doing ordinary things extra ordinarily</p>
</div>