@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <p>601, Rama Apartment</p>
    <p>Walvekar Nagar, Pune Satara Road</p>
    <p>Parvati, Pune 411009</p>
    <br/>
    <p>Email: emobileshop@gmail.com</p>
    <p>Contact Number:9767081688</p>
    
</div>